* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
}
body {
  background-color: #1b1f24;
}

.blue {
  color: #1472ff !important;
}
.gray {
  color: #d9d9d9 !important;
}

li{
  list-style: none !important;
}

.navbar .nav-link {
  font-size: 14px !important;
  padding: 10px 30px 10px 30px;
}
.navbar .nav-link:hover {
  background-color: #2a2c3369;
}
.contact-btn {
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: 2px solid #1472ff;
  border-radius: 10px;
  text-decoration: none;
}

.bg{
  background-image: url(img/background.png);
  min-height: 125vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.social span {
  padding: 10px;
}

.text {
  padding-top: 30vh;
  text-align: justify;
}
.foto{
  border: white 2px solid;
  border-radius: 50%;
  box-shadow: 0px 0px 20px white;
}
.background{
background-color: #2a2c3369;
}
.profile{
  width: 300px;
  height: 300px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 50%;
  border: white 2px solid;
  box-shadow:0px 0px 30px #1472ff;
}
.background ul li .text-white{
  font-size: 20px !important;
}
.background ul li.gray{
font-size: 20px !important;
}
.card{ 
  background-color: transparent !important;
  box-shadow: #1472ff 1px 1px 10px 1px;
  min-height: 100%;
  max-width: 450px;
  padding-bottom:30px;
  margin-bottom: 50px;
}
.background .card img{
  padding: 10px;
  max-height: 250px;
  border-radius: 30px !important;
}
.background .card h4{
  max-width: 280px;
}
#contact{
  margin-bottom: 100px;
}
form input,
textarea{
  color: #d9d9d9 !important;
}
form input::placeholder,
textarea::placeholder{
  color:#c7a5a5 !important;
  font-size: 11px !important;
  font-weight: 300px !important;
}
form input:focus,
textarea{
  background-color: transparent !important;
  border: 2px solid #1472ff !important;
}
.btn-primary{
  background-color: #ac5ef5;
  padding: 10px 30px 10px 30px;
}
footer{
  background-color: #2a2c3338;height: 20vh;
}
